@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .opacity-0 {
    opacity: 0;
  }
  .opacity-full {
    opacity: 100;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-700 rounded-br-md rounded-bl-md;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-br-md rounded-bl-md hover:bg-gray-400;
}

.prose pre {
  overflow-x: scroll;
  @apply p-[40px] my-3;
  @apply bg-gray-900 text-gray-100 rounded-lg;
}

.prose code {
  @apply bg-gray-100 text-gray-800 px-1 py-0.5 rounded text-sm;
}

.prose pre code {
  @apply bg-transparent text-gray-100 p-0;
}

/* Keyboard shortcut styling */
kbd {
  @apply font-mono text-xs;
}

/* Backgroud colour */
body {
  @apply from-blue-50;
}